<!DOCTYPE html>
<html>
  <head>
	  {% include analytics.html %}
	  <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/sng/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/sng/">Home</a></li>
<li><a href="/sng/about">About</a></li>
<li><a href="/sng/blog">Blog</a></li>
<li><a href="/sng/get-involved">Get Involved</a></li>
<li><a href="/sng/resources">Resources</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
	   <li><a href="https://github.com/danbrou">github.com/danbrou</a></li>
	   <li><a href="https://www.twitter.com/snGreenways"><img src="../images/twiter_social_icon_square_white.png" style="width:40px; height:auto" title="Twitter" alt="twitter"></a></li>
   </ul>
  </footer>
  </body>

</html>
